<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <label>Username:</label>
    <input type="text" formControlName="username" />
    <p
      *ngIf="
        form.get('username')?.invalid && form.get('username')?.touched
      "
    >
      Informe seu username.
    </p>

    <label>Password:</label>
    <input type="password" formControlName="password" />
    <p
      *ngIf="
        form.get('password')?.invalid &&
        form.get('password')?.touched
      "
    >
      Informe sua senha.
    </p>

    <button type="submit" [disabled]="form.invalid">Login</button>
    <p *ngIf="loginFailed">Incorrect username or password.</p>
  </form>
</div>
