<div class="container">
  <div class="crud">
    <h1>Crud Users</h1>
    <input type="text" [(ngModel)]="inputUsername" placeholder="Username" />
    <input type="password" [(ngModel)]="inputPassword" placeholder="Password" />
    <input type="text" [(ngModel)]="inputRole" placeholder="Role" />
    <button *ngIf="btnCreateUpdate == 'CREATE'" (click)="createUser()">
      Create
    </button>
    <button *ngIf="btnCreateUpdate != 'CREATE'" (click)="updateUser()">
      Update
    </button>
    <button *ngIf="btnCreateUpdate != 'CREATE'" (click)="quitUpdate()">
      X
    </button>
  </div>
  <div class="list">
    <h1>Users List</h1>
    <ul>
      <li *ngFor="let user of users">
        <strong>{{ user.username }}</strong>
        <p>{{ user.role }}</p>
        <p>{{ user.userId }}</p>
        <button (click)="updateInputs(user)">Update</button>
        <button (click)="deleteUser(user.userId)">Delete</button>
      </li>
    </ul>
  </div>
</div>
