<div class="container">

  <div class="crud">

    <div (click)="isVisibleCrud = !isVisibleCrud">
      <app-header content="Crud Users" (logHeader)="receiveLog($event)"/>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="crud" *appShow="isVisibleCrud">

      <label>Username:</label>
      <input type="text" formControlName="username" />
  
      <label>Password:</label>
      <input type="password" formControlName="password" />

      <label>Role:</label>
      <input type="text" formControlName="role" />
  
      <button type="submit" [disabled]="form.invalid">{{ btnCreateUpdate }}</button>
      <button (click)="quitUpdate()" *ngIf="updateUserId">X</button>

    </form>

  </div>

  <div class="list">

    <div (click)="isVisibleList = !isVisibleList">
    <app-header content="Users List" (logHeader)="receiveLog($event)"/>
    </div>

    <form [formGroup]="userListForm" *appShow="isVisibleList">

      <ul>
          <li *ngFor="let user of userList.controls">
          <strong>{{ user.get('username')?.value }}</strong>
          <p>{{ user.get('role')?.value }}</p>
          <p>{{ user.get('userId')?.value }}</p>
          <button (click)="updateInputs(user.value)">Update</button>
          <button (click)="deleteUser(user.value.userId)">Delete</button>
        </li>
      </ul>

    </form>
  </div>
  
</div>
